<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Fruit Search</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Fruit Live Search</h1>
    <form>
      <input type="text" size="30" onkeyup="showResult(this.value)" />
      <div id="livesearch" class="hide"></div>
    </form>
    <script src="search.js"></script>
  </body>
</html>
